html{
  color: #D4D4D4;
  background-color: #1E1E1E;
}
ul{
  list-style: none;
}
h1{
  height: 90px;
  color: #6A9955;
  font-size: 3.5rem;
  font-weight: 2000;
  margin: 0;
  flex-grow: 15;
}
button {
  font-family: monaco, Consolas, "Lucida Console", monospace;
  border: none;
  border-radius: none;
  background-color: #1E1E1E;
  color: #D4D4D4;
  font-weight: 80000;
}
span{
  color: #CE9178;
}
body,html {
  box-sizing: border-box;
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: monaco, Consolas, "Lucida Console", monospace; 
  font-size: 14px; 
  font-style: normal; 
  font-variant: normal; 
  font-weight: 400; 
}

.main-viewport{
  display: flex;
  justify-content: center;
  height: 100%;
}

.title-and-story{
  text-align: left;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}
.story-field{
  width: 75vw;
  font-size: 2rem;
  text-align: left;
  margin: auto;
  animation-duration: 1s;
  flex-grow: 85;
}

.user-input-field{
  border-left: 5px solid #D4D4D4;
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
  padding: 1rem;
}
.madlib-form{
  flex-grow: 10;
}
.counter{
  color:#CE9178;
  margin: 0;
  flex-grow: 5;
}
.list-of-inputs{
  color: #CE9178;
  padding: 0;
  margin: 0;
  flex-grow: 85;
}

.orange{
  color: #CE9178; 
}
.blue{
  color: #499CD6;
}
.yellow{
  color: #DCDCAA;
}

@keyframes fade-in {
  from {opacity: 0;}
  to {opacity: 1;}
}
