body,html{
  color: #D4D4D4;
  background-color: #1E1E1E;
  box-sizing: border-box;
  height: 100vh;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  font-family: monaco, Consolas, "Lucida Console", monospace; 
  font-size: 14px; 
  font-weight: 400;
  max-width: 100%;
}
body{
  display: flex;
  flex-direction: row;
  max-width: 100%;
  overflow-x: hidden;
}
ul{
  list-style: none;
}
h1{
  height: 90px;
  color: #6A9955;
  font-size: 3.5rem;
  font-weight: 2000;
  margin: 0;
  flex-grow: 15;
}
button:not(.toggle-menu) {
  font-family: monaco, Consolas, "Lucida Console", monospace;
  border: 1px solid #499CD6;
  border-radius: 4px;
  background-color: #2d2d2d;
  color: #D4D4D4;
}
button:hover:not(.toggle-menu) {
  cursor: pointer;
  color:#DCDCAA
}
button:active:not(.toggle-menu) {
  background-color: #414141;
}

/* display: flex;
justify-content: center;
min-height: 100%;
min-width: 100%; */

.title-and-story{
  flex-grow: 2;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px 15px;
  max-width: 90vw;
}
.story-display{
  max-width: 100%;
  font-size: 1.8rem;
  text-align: left;
  margin: 0;
  animation-duration: .25s;
  flex-grow: 85;
}
.reveal-menu-checkbox{
  margin: auto 0;
  right: 0px;
  position: absolute;
}



.side-menu{
  display: flex;
  flex-direction: column;
  min-height: 100%;
  position: relative;
  right: 0;
  background-color: #2d2d2d;
  border-left: 1px solid #D4D4D4;
  transition: 500ms transform ease;
  min-width: 25vw;
  max-width: 25vw;
}
.side-menu__hidden{
  position: absolute;
  transform: translateX(calc(100% - 50px));
}
.side-menu__hidden > .user-input-field{
  display: none;
}
.toggle-menu{
  border: none;
  background: transparent;
  padding: .5rem;
  width: 50px;
}
.user-input-field{
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 1.5rem;
  max-width: 100%;
  padding: 15px;
  margin: 0;
  height: 100%;
}
.counter{
  color:#CE9178;
  margin: 0;
}
.story-words-and-counter-wrapper{
  padding: 0;
  margin: 0;
}
.generate-and-clear-wrapper{
  display: flex;
  justify-content: space-between;
  margin: auto 0 0;
  max-width: 100%;
  flex-wrap: wrap;
}
.madlib-form__input{
  background-color: #D4D4D4;
  border: none;
  border-radius: none;
  font-family: monaco, Consolas, "Lucida Console", monospace;
}

.madlib-form__submit-button{
  border: #2d2d2d 2px solid;
  background-color: #D4D4D4;
  color: #1E1E1E;
  border-radius: none;
}
.madlib-form__submit-button:hover{
  border: 2px solid #D4D4D4;
  cursor: pointer;
}

.story-display > .fade-in-slowly{
  animation-name: fade-in-slowly;
  animation-duration: 2.5s;
}

.orange{
  color: #CE9178; 
}
.blue{
  color: #499CD6;
}
.yellow{
  color: #DCDCAA;
}
.green{
  color: #6A9955;
}
.white{
  color: #D4D4D4;
}

@keyframes fade-in-slowly {
  0% {opacity: 0;}
  20% {opacity: 0;}
  100% {opacity: 1;}
}


@media (max-width: 768px) {
  .side-menu{
    position: absolute;
    width: 100vw;
    max-width: 100vw;
  }
  .title-and-story{
    max-width: 80vw;
  }
}
