html{
  color: #ffffff;
  background-color: #000001;
}

body,html {
  margin: 0;
  padding: 0;
  font-family: 'Roboto Mono', monospace;
}

ul{
  list-style: none;
}

h1{
  color: #FFEB2A;
  font-size: 3rem;
  margin: 0;
  font-family: 'Koulen', cursive;
}

span{
  color: #FFEB2A; 
}
.inputs{
  padding: .2rem;
  margin: 0;
}
.story-field{
  padding: .2rem;
  width: 70vw;
  font-size: 2rem;
  text-align: left;
  margin: auto;
  padding: 10px;
  animation-duration: 1s;
}
.madlib-form{
  width: 100%;
}
.madlib-form__submit-button, .generate-story{
  color: #000001;
  background-color: #FFEB2A;
  border: 1px solid #FFEB2A;
  font-size: 1rem;
  font-family: 'Roboto Mono', monospace;
  font-weight: 800;
  padding: 0;
  margin: auto;
  width: 70px;
}
.generate-story{
  border-radius: 2px;
  width: 200px;
  height: 30px;
}
.madlib-form__input, .madlib-form__submit-button, .clear-list-of-inputs{
  height: 30px;
  border-radius: 2px;
}
.madlib-form__input{
  border: none;
}
.clear-list-of-inputs{
  color: #000001;
  background-color: #FFEB2A;
  border: 1px solid #FFEB2A;
  font-size: 1rem;
  font-family: 'Roboto Mono', monospace;
  font-weight: 800;
  padding: 0;
  margin: auto;
  width: 70px;
}
.madlib-form__submit-button:hover{
  border: 1px solid #ffffff;
}
.list-of-inputs{
  font-size: 1.5rem;
  padding: 0;

}


#app {
  margin: .5rem;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}


@keyframes fade-in {
  from {opacity: 0;}
  to {opacity: 1;}
}
